PORT = 5000
MONGODB_URI="mongodb+srv://mohammedfashan16:sItsDoDr0iMFvsxP@cluster0.oqkqswb.mongodb.net"
JWT_SECRET="fashan@16#"


#Admin Credentials
ADMIN_EMAIL=testadmin123@gmail.com
ADMIN_PASSWORD=testAdmin123

#cloudinary
CLOUDINARY_NAME = drpuzzoqp
CLOUDINARY_API_KEY = 469429443353974
CLOUDINARY_API_SECRET= B7hGLDniVUVQ8NHagW95lD41s0U

#chatBot API
DEEPINFRA_API_KEY=KFdg5ruRmqAkjXiFscfE18ApBXHnUJI4
backend/.env
